[Unit]
Description=<%= @options[:name] %> <%= ARGV.join(' ') %>
After=network.target
Wants=network.target

[Service]
Type=simple
User=<%= @options[:user] %>
Group=<%= @options[:usergr] %>
WorkingDirectory=<%= @options[:wdir] %>
Restart=<%= @options[:restart] %>
ExecStart=<%= @options[:ruby] %> <%= ARGV.join(' ') %>
RestartSec=<%= @options[:restart_after] %>
SyslogIdentifier=<%= @options[:name] %>

[Install]
WantedBy=multi-user.target